@model MeteoWebApplication.Models.DailyGraph

@using GridMvc.Html


@{
    ViewBag.Title = "DailyDataGraph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DailyDataGraph</h2>
Questa è per i grafici dei valori meteo:

La data è @Html.DisplayFor(model => model._date)
La stazione è @Html.DisplayFor(model => model._station)

<div class="panel panel-default">
    <div>
        <img src="@ViewBag.ImageData1" alt="" />
    </div>
</div>
<div class="panel panel-default">
    <div>
        <img src="@ViewBag.ImageData2" alt="" />
    </div>
</div>
<div class="panel panel-default">
    <div>
        <img src="@ViewBag.ImageData3" alt="" />
    </div>
</div>
<div class="panel panel-default">
    <div>
        <img src="@ViewBag.ImageData4" alt="" />
    </div>
</div>
<div>
    <div>
        <img src="@ViewBag.ImageData5" alt="" />
    </div>
</div>
<div>
    <div>
        <img src="@ViewBag.ImageData6" alt="" />
    </div>
</div>
<div>
    <div>
        <img src="@ViewBag.ImageData7" alt="" />
    </div>
</div>
<div>
    <div>
        <img src="@ViewBag.ImageData7" alt="" />
    </div>
</div>